html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Segoe UI', sans-serif;
  background-color: #f4f6f9;
  padding-top: 80px;
}

/* HERO */
.hero {
  background: linear-gradient(135deg,#4e73df,#1cc88a);
  color: white;
  padding: 70px 20px;
}

/* SECCIONES */
.seccion-productos {
  padding: 70px 0;
}

.titulo-seccion {
  text-align: center;
  margin-bottom: 40px;
  font-weight: bold;
  font-size: 28px;
}

/* BUSCADOR */
.buscador {
  width: 180px;
  border-radius: 20px;
  padding: 5px 15px;
}

/* CARDS */
.card {
  border: none;
  border-radius: 18px;
  overflow: hidden;
  transition: 0.3s ease;
}

.card:hover {
  transform: translateY(-8px);
  box-shadow: 0 15px 30px rgba(0,0,0,0.15);
}

.card img {
  height: 220px;
  object-fit: cover;
  cursor: pointer;
}

.card-body {
  padding: 20px;
}

.selector-producto {
  position: absolute;
  top: 10px;
  left: 10px;
  transform: scale(1.3);
}

/* MODAL */
.modal-imagen {
  display: none;
  position: fixed;
  z-index: 9999;
  padding-top: 60px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.9);
  text-align: center;
}

.modal-contenido {
  max-width: 85%;
  max-height: 70%;
  border-radius: 15px;
}

.descripcion-modal {
  color: white;
  margin-top: 20px;
  font-size: 18px;
  padding: 0 20px;
}

.cerrar {
  position: absolute;
  top: 30px;
  right: 50px;
  font-size: 45px;
  color: white;
  cursor: pointer;
}
